body{
    background-image: url("../img/fondo3.jpg");
    background-size: cover;
}

.pad{
    margin-top: 5%;
    margin-bottom: 5%  
}

.bck-w{
    background-color: rgb(255, 255, 255);
    border: rgb(0, 0, 0) 1px solid;
}
.border-r{
    border-radius: 2.5%;
}
.resize {
    resize: none;
}
.text-center{
    text-align: center;
}