{% extends 'core_app/padre.html' %}
{% load static %}
{% block title%} Agregar Obra {% endblock %}
{% block link %} <link rel="stylesheet" href="{% static 'core/css/formularios.css'%}">{%endblock%}
{% block content %}
  <div class="container pad">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-m">
          <div class="p-3 bck-w border-r">
              <h2 class="text-center">Solicitud para publicar Obra</h2>
              <form method="POST" action="" enctype="multipart/form-data" id="formulario-agregar">
              {% csrf_token %}
              <div class="form-group">
                  {{ form.as_p }}
              </div>
              <input type="submit" class="btn btn-success" id="enviar" value="Agregar">
              <input type="reset" class="btn btn-secondary" id="limpiar" value="Limpiar">
          </form>
          </div>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
{%endblock%}