{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  {% block link %}{%endblock%}
  <title>{%block title %} {%endblock%}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bck-color">
          <h3 class="user-select-none"><i>Ground Zero</i></h3>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" target="_blank">Galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" target="_blank">Contacto</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Más opciones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" target="_blank">Lista de obras</a>
                  <a class="dropdown-item" href="#" target="_blank">Agregar obras</a>
              </li>
            </ul>
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Inicio sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Registro</a>
              </li>
            </ul>
          </div>
    </nav>
</header>
{% block content %} {%endblock%}
</body>
</html>